.newTask {
  width: 100%;
  box-sizing: border-box;
  border: none;
  margin: 1px 0 0;
  padding: 15px;
  outline: none;
  font-size: 1em;
  font-family: helvetica, sans-serif;
  background: #ebeff2;
  color: rgba(0, 0, 0, .9);
  font-weight: 700;
}

  .newTask::placeholder {
    color: rgba(0, 0, 0, .6);
  }